/* Set up for old browsers. I set the medium Figtree as regular, as I prefer it a little bolder. */
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: Figtree;
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src:
      local(''),
      url('/assets/fonts/figtree/figtree-extrabold.woff2') format('woff2');
  }

  @font-face {
    font-family: Figtree;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src:
      local(''),
      url('/assets/fonts/figtree/figtree-bold.woff2') format('woff2');
  }

  @font-face {
    font-family: Figtree;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src:
      local(''),
      url('/assets/fonts/figtree/figtree-medium.woff2') format('woff2');
  }

  @font-face {
    font-family: Figtree;
    font-style: italic;
    font-display: swap;
    font-weight: 500;
    src:
      local(''),
      url('/assets/fonts/figtree/figtree-mediumitalic.woff2') format('woff2');
  }
}

/* Set up for modern browsers, all weights */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Figtree';
    src:
      url('/assets/fonts/figtree/figtree-variable[wght].woff2') format('woff2 supports variations'),
      url('/assets/fonts/figtree/figtree-variable[wght].woff2') format('woff2-variations');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Figtree';
    src:
      url('/assets/fonts/figtree/figtree-variable-italic[wght].woff2') format('woff2 supports variations'),
      url('/assets/fonts/figtree/figtree-variable-italic[wght].woff2') format('woff2-variations');
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
  }
}

/* 900 weight is handled as if 700. */
@font-face {
  font-family: 'Redhat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local(''),
    url(/assets/fonts/redhat/red-hat-display-v7-latin-900.woff2) format('woff2');
}

@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src:
    local(''),
    url(/assets/fonts/robotomono/robotomono-regular.woff2) format('woff2');
}

/* newsreader-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 200;
  src: url('/src/assets/fonts/newsreader/newsreader-v20-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* newsreader-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 200;
  src: url('/src/assets/fonts/newsreader/newsreader-v20-latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* newsreader-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/newsreader/newsreader-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* newsreader-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 400;
  src: url('/src/assets/fonts/newsreader/newsreader-v20-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* newsreader-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/newsreader/newsreader-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* newsreader-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 700;
  src: url('/src/assets/fonts/newsreader/newsreader-v20-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* newsreader-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 800;
  src: url('/src/assets/fonts/newsreader/newsreader-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* newsreader-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 800;
  src: url('/src/assets/fonts/newsreader/newsreader-v20-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('/src/assets/fonts/inter/inter-v13-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/inter/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/inter/inter-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

